<div class="max-w-screen-xl" style="margin: auto;">
    <div class="flex px-12 pt-1 justify-around">
        <div class="flex flex-col align-center justify-around text-white w-1/3 my-2 p-4 rounded-lg" style="background-color: rgb(39, 37, 37);">
            <div class="movie-card w-full" style="margin: auto;">
                <div class="flex flex-col justify-center">
                    <h1 class="text-3xl">Sign Up</h1>
                    <form class="flex flex-col justify-center text-black" #createUser="ngForm" (ngSubmit)="createAccount(createUser.value)">
                        <input ngModel name="name" placeholder="User Name" class="p-2 mt-2 rounded" type="text">
                        <input ngModel name="email" placeholder="Email" class="p-2 mt-4 rounded" type="email">
                        <input ngModel name="password" placeholder="Password"  class="p-2 mt-4 rounded" type="password">
                        <button class="p-2 bg-gray-800 rounded shadow text-white mt-6">Sign Up</button>
                    </form>
                    <button (click)="cancel()" class="p-2 bg-gray-800 rounded shadow mt-6">Cancel</button>
                </div>
            </div>
        </div>
        <div class="flex flex-col align-center justify-around text-white w-1/3 my-2 p-4 rounded-lg" style="background-color: rgb(39, 37, 37);">
            <div class="movie-card w-full" style="margin: auto;">
                <div class="flex flex-col justify-center">
                    <h1 class="text-3xl">Sign In</h1>
                    <form class="flex flex-col justify-center text-black" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                        <input ngModel name="name" placeholder="User Name" class="p-2 mt-2 rounded" type="text">
                        <input ngModel name="password" placeholder="password"  class="p-2 mt-4 rounded" type="password">
                        <button class="p-2 bg-gray-800 rounded shadow text-white mt-6">Sign In</button>
                    </form>
                    <button (click)="cancel()" class="p-2 bg-gray-800 rounded shadow mt-6">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>