<div class="max-w-screen-xl" style="margin: auto;">
    <div class="flex px-12 py-3">
        <div class="flex flex-col align-center justify-center text-white w-full my-4 p-4 rounded-lg" style="background-color: rgb(39, 37, 37);">
            <div class="movie-card">
                <a routerLink="movies">
                    <h1 class="text-3xl">Movies</h1>
                </a>
                <div class="p-4 w-full rounded-lg" style="background-color: #121212;">
                    <h2>Explore Movies</h2>
                    <h2>Select movies from your favorite plots</h2>
                    <h2>See the cast</h2>
                </div>
            </div>
            <div class="actor-card mt-8">
                <a routerLink="actors">
                    <h1 class="text-3xl">Actors</h1>
                </a>
                <div class="p-4 w-full rounded-lg" style="background-color: #121212;">
                    <h2>Find your celebs</h2>
                    <h2>Check their bio</h2>
                    <h2>See their movies</h2>
                </div>
            </div>
            <div class="producer-card mt-8">
                <a routerLink="producers">
                    <h1 class="text-3xl">Producers</h1>
                </a>
                <div class="p-4 w-full rounded-lg" style="background-color: #121212;">
                    <h2>See who produced that movie</h2>
                    <h2>See their other work</h2>
                    <h2>Get to know them better</h2>
                </div>
            </div>
        </div>
    </div>
</div>
