<div class="max-w-screen-xl" style="margin: auto;">
    <div class="flex px-12 pt-1 justify-center">
        <div class="flex flex-col align-center justify-center text-white w-1/3 my-2 p-4 rounded-lg" style="background-color: rgb(39, 37, 37);">
            <div class="movie-card w-full" style="margin: auto;">
                <div class="flex flex-col justify-center">
                    <h1 class="text-3xl">Edit Movie</h1>
                    <form class="flex flex-col justify-center text-black" #editForm="ngForm" (ngSubmit)="sendData(editForm.value)">
                        <input ngModel name="movie" placeholder="Movie Name" class="p-2 mt-2 rounded" type="text">
                        <input ngModel name="plot" placeholder="Plot" class="p-2 mt-4 rounded" type="text">
                        <input ngModel name="producer" placeholder="Producer" class="p-2 mt-4 rounded" type="text">
                        <input ngModel name="poster" placeholder="Poster" class="p-2 mt-4 rounded" type="text">
                        <textarea ngModel name="actors" placeholder="Actors (comma separated)" class="p-2 mt-6 rounded" cols="30" rows="10"></textarea>
                        <button class="p-2 bg-gray-800 rounded shadow text-white mt-6">Submit</button>
                    </form>
                    <button (click)="cancel()" class="p-2 bg-gray-800 rounded shadow mt-6">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
